In [1]:
import pandas as pd
#importing library

In [2]:
r_cols=['user_id','movie_id','rating']
ratings = pd.read_csv('datasets/movielens/u.data', sep='\t', names=r_cols, usecols=range(3))
m_cols=['movie_id','title']
movies = pd.read_csv('datasets/movielens/u.item', sep='|', names=m_cols,usecols=range(2))
ratings=pd.merge(movies,ratings)
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [3]:
userRatings=ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
corrMatrix=userRatings.corr(method="pearson",min_periods=20)
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.00000,-0.04989,NaN,0.048973,0.266928,-0.043407,NaN,NaN,...,NaN,NaN,NaN,0.158840,0.119234,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,-0.04989,1.00000,NaN,NaN,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
myRatings=userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [6]:
corrMatrix=userRatings.corr(method="pearson",min_periods=100)
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
movies

      movie_id                                              title
0            1                                   Toy Story (1995)
1            2                                   GoldenEye (1995)
2            3                                  Four Rooms (1995)
3            4                                  Get Shorty (1995)
4            5                                     Copycat (1995)
5            6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6            7                              Twelve Monkeys (1995)
7            8                                        Babe (1995)
8            9                            Dead Man Walking (1995)
9           10                                 Richard III (1995)
10          11                               Seven (Se7en) (1995)
11          12                         Usual Suspects, The (1995)
12          13                            Mighty Aphrodite (1995)
13          14                                 Postino, Il (1994)
14          15                          Mr. Holland's Opus (1995)
15          16                 French Twist (Gazon maudit) (1995)
16          17                         From Dusk Till Dawn (1996)
17          18                          White Balloon, The (1995)
18          19                              Antonia's Line (1995)
19          20                          Angels and Insects (1995)
20          21                      Muppet Treasure Island (1996)
21          22                                  Braveheart (1995)
22          23                                 Taxi Driver (1976)
23          24                         Rumble in the Bronx (1995)
24          25                               Birdcage, The (1996)
25          26                      Brothers McMullen, The (1995)
26          27                                    Bad Boys (1995)
27          28                                   Apollo 13 (1995)
28          29                              Batman Forever (1995)
29          30                               Belle de jour (1967)
...        ...                                                ...
1652      1653  Entertaining Angels: The Dorothy Day Story (1996)
1653      1654                       Chairman of the Board (1998)
1654      1655                                  Favor, The (1994)
1655      1656                                 Little City (1998)
1656      1657                                      Target (1995)
1657      1658                      Substance of Fire, The (1996)
1658      1659                    Getting Away With Murder (1996)
1659      1660                                 Small Faces (1995)
1660      1661                                New Age, The (1994)
1661      1662                                 Rough Magic (1995)
1662      1663                            Nothing Personal (1995)
1663      1664                     8 Heads in a Duffel Bag (1997)
1664      1665                           Brother's Kiss, A (1997)
1665      1666                                        Ripe (1996)
1666      1667                              Next Step, The (1995)
1667      1668                          Wedding Bell Blues (1996)
1668      1669                           MURDER and murder (1996)
1669      1670                                     Tainted (1998)
1670      1671                          Further Gesture, A (1996)
1671      1672                                        Kika (1993)
1672      1673                                      Mirage (1995)
1673      1674                                  Mamma Roma (1962)
1674      1675                              Sunchaser, The (1996)
1675      1676                            War at Home, The (1996)
1676      1677                               Sweet Nothing (1995)
1677      1678                                  Mat' i syn (1997)
1678      1679                                   B. Monkey (1998)
1679      1680                               Sliding Doors (1998)
1680      1681                                You So Crazy (1994)
1681      1682          Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [7]:
simCandidates=pd.Series()
for i in range(0,len(myRatings.index)):
    print"Adding sims for "+ myRatings.index[i]+"..."
    sims=corrMatrix[myRatings.index[i]].dropna()
    sims=sims.map(lambda x: x* myRatings[i])  #scaling factor
    simCandidates=simCandidates.append(sims)
    
print"sorting in progress..."
simCandidates.sort_values(inplace=True, ascending=False)
print simCandidates.head(20)

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
sorting in progress...
Empire Strikes Back, The (1980)                       5.000000
Star Wars (1977)                                      5.000000
Empire Strikes Back, The (1980)                       3.741763
Star Wars (1977)                                      3.741763
Return of the Jedi (1983)                             3.606146
Return of the Jedi (1983)                             3.362779
Raiders of the Lost Ark (1981)                        2.693297
Raiders of the Lost Ark (1981)                        2.680586
Austin Powers: International Man of Mystery (1997)    1.887164
Sting, The (1973)                                     1.837692
Bridge on the River Kwai, The (1957)                  1.783717
Indiana Jones and the Last Crusade (1989)             1.750535
Cinderella (1950)                                     1.749598
Back to the Future (1985)                             1.726427
Terminator 2: Judgment Day (1991)                     1.667662
Frighteners, The (1996)                               1.663647
Field of Dreams (1989)                                1.642076
Chasing Amy (1997)                                    1.633938
L.A. Confidential (1997)                              1.595323
Dumbo (1941)                                          1.588281
dtype: float64

In [8]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [9]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head()

Empire Strikes Back, The (1980)              8.877450
Star Wars (1977)                             8.870971
Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
dtype: float64

In [10]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims.head(20)

Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
Wizard of Oz, The (1939)                     3.200268
Dumbo (1941)                                 2.981645
E.T. the Extra-Terrestrial (1982)            2.972247
Star Trek: The Wrath of Khan (1982)          2.968080
Batman (1989)                                2.947566
Jaws (1975)                                  2.936821
Casablanca (1942)                            2.883471
Terminator 2: Judgment Day (1991)            2.838871
Lion King, The (1994)                        2.816302
Aliens (1986)                                2.791258
Star Trek: Generations (1994)                2.784773
Terminator, The (1984)                       2.781109
dtype: float64